*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
    scroll-behavior: smooth;
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    list-style: none;
    text-decoration: none;
}

header{
    position: fixed;
    width: 100%;
    top: 0;
    right: 0;
    z-index: 1000;
    display: flex;
    align-items: center;
    justify-content: space-between;
    padding: 20px 10%;
}

.logo img{
    max-width: 200px;
    height: auto;
}
#user-input {
    width: 30vw;
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
}

button {
    margin-top: 50px;
    margin-left: auto;
    margin-right: auto;
    display: block;
    align-self: center;
}

.favourites{
    display: flex;
    align-items: center;
    margin-right: 25px;
    color: #2c2c2c;
    font-size: 25px;
    font-weight: 400;
    transition: all .42s ease;
    cursor: pointer;
}

.favourites:hover{
    transform: scale(1.1);
    color: red;
}

section{
    padding: 10% 10%;
}
.main-home{
    width: 100%;
    height: 100vh;
    /* background-image: url(images/download.jpg); */
    /* background-color: lightcoral; */
    background-position: center;
    background-size: cover;
    display: grid;
    grid-template-columns: repeat(1,1fr);
    align-items: center;
}

.main-text h5 {
    color: red;
    font-size: 30px;
    text-transform: capitalize;
    /* line-height: 1.1; */
    font-weight: 600;
    /* margin: 6px 0 10px; */
}

.main-text h1{
    color: whitesmoke;
    font-size: 65px;
    text-transform: capitalize;
    line-height: 1.1;
    font-weight: 600;
    margin: 6px 0 10px;
}

header.sticky{
    background:#fff;
    padding: 20px 10%;
    box-shadow: 0px 0px 10px rgb(0 0 0 /10%);
}

.center-text h2{
    color: #111;
    font-size: 28px;
    text-transform: capitalize;
    text-align: center;
}

.center-text span {
    color: red;
}

.superhero{
    display: grid;
    grid-template-columns: repeat(auto-fit,minmax(260px,auto));
    gap: 2rem;
}

.row{
    position: relative;
    transition: all .40s;
}
.row img{
    width:100%;
    height:auto;
    transition: all .40s;
}

.row img:hover{
    transform: scale(0.9);
}
.hero-name h1{
color: #111;
font-size: 16px;
text-transform: capitalize;
font-weight: 400;

}

.heart-icon{
    position: absolute;
    right: 0;
    font-size: 20px;

}
.heart-icon:hover{
color: #EE1C47;
}